@model UsuarioModel

<div class="mb-3">
    <label for="nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome">
    @Html.ValidationMessageFor(x =>x.Nome)</
</div>

<div class="mb-3">
    <label for="login">Login</label>
    <input type="text" asp-for="Login" class="form-control" placeholder="Digite seu login">
    @Html.ValidationMessageFor(x =>x.Login)</
</div>

<div class="mb-3">
    <label for="email">Email</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu e-mail">
    @Html.ValidationMessageFor(x =>x.Email)</
</div>

<div class="mb-3">
    <label for="senha">Senha</label>
    <input type="password" asp-for="Senha" class="form-control" placeholder="Digite sua senha">
    @Html.ValidationMessageFor(x =>x.Senha)</
</div>

<div class="mb-3">
    <label for="perfil">Perfil</label>
    <select asp-for="Perfil" class="form-control">
        <option value="1">Admin</option>
        <option value="2">Padrão</option>
    </select>
    @Html.ValidationMessageFor(x =>x.Perfil)</
</div>