@model IEnumerable<Mestreflix.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <a class="btn btn-light btn-lg" asp-action="Create">Alugar novo filme</a>
</div>
<hr />
<div class="row">
    @foreach (Movie? item in Model.OrderBy(m => m.ReleaseDate))
    {
        <div class="col-md-3">
            <div class="video-container bg-dark">
                <img src="@Html.DisplayFor(modelItem => item.Cover)" class="image" />
                <div class="middle">
                    <div class="play-button">
                        <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                            <path class="stroke-solid" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                            <path class="stroke-dotted" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                            <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                        </svg>
                    </div>
                </div>
            </div>
            <b>@Html.DisplayFor(modelItem => item.Title)</b>
            <br>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
            <br>
            @Html.DisplayFor(modelItem => item.Genre)
            <br>
            R$ @Html.DisplayFor(modelItem => item.Price)
            <div class="mt-1">
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Desalugar</a>
            </div>
            <div class="mt-2">
                <p data-bs-toggle="collapse" href="#collapseComments-@item.Id" role="button" aria-expanded="false" aria-controls="collapseComments-@item.Id">
                    ⭐ <u>Reviews</u> (@(item.Reviews.Count))
                </p>
                <div class="collapse" id="collapseComments-@item.Id">
                    @foreach (Review? review in item.Reviews)
                    {
                        <div class="card card-body bg-black">
                            <em>@review.Text</em>
                            <small class="text-muted"><b>@review.FullName</b><br>@review.Email</small>
                        </div>
                    }
                </div>
                <div class="mb-3">
                    @await Html.PartialAsync("_ReviewForm", new Review { MovieId = item.Id })
                </div>
            </div>
        </div>
    }
</div>