@{
    ViewData["Title"] = "Welcome";
}
<h1>@ViewData["Title"]</h1>

<p>
    Este é o método '@nameof(Capitulo03.MVC.Controllers.HelloWorldController.Welcome)' do @nameof(Capitulo03.MVC.Controllers.HelloWorldController).
    <br />
    Nome: @ViewData["Nome"] | Idade: @ViewData["Idade"].
</p>
